@charset "UTF-8";

/* fonts */

@font-face {
  font-family: "icons";
  src:url("fonts/icons.eot");
  src:url("fonts/icons.eot?#iefix") format("embedded-opentype"),
    url("fonts/icons.woff") format("woff"),
    url("fonts/icons.ttf") format("truetype"),
    url("fonts/icons.svg#icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* body */

body {
  background: #103a51;
  padding: 0;
  margin: 0;
  font-weight: 400;
  font-style: normal;
  line-height: 1.4em;
  position: relative;
  cursor: default;
  font: 1em "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
  color: #28353e;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-size-adjust: none;
  text-rendering: optimizeLegibility;
}

/* headers */

h1 {
  font-family: inherit;
  font-size: 2.6em;
  font-weight: 300;
  color: #28353e;
  margin-bottom: 0.4em;
  margin-top: 1.1em;
}

@media only screen and (max-width: 55em) {
  h1 {
    font-size: 2em;
  }
}

h1:first-child {
  margin-top: 0;
}

h2 {
  font-family: inherit;
  font-size: 1.8em;
  font-weight: 400;
  color: #28353e;
  margin-bottom: 0.2em;
  margin-top: 1.3em;
}

h2:first-child {
  margin-top: 0;
}

h3 {
  font-family: inherit;
  font-size: 1.125em;
  font-weight: 700;
  color: #28353e;
  margin-top: 1.3em;
}

h3:first-child {
  margin-top: 0;
}

h4 {
  font-family: inherit;
  font-size: 1em;
  font-weight: 700;
  color: #28353e;
  margin-top: 1.3em;
}

h4:first-child {
  margin-top: 0;
}

h5 {
  font-family: inherit;
  font-size: 1em;
  color: #28353e;
  margin-top: 1.3em;
}

h5:first-child {
  margin-top: 0;
}

h6 {
  font-family: inherit;
  font-size: 1em;
  color: #28353e;
  margin-top: 1.3em;
}

h6:first-child {
    margin-top: 0;
}

/* text */

p {
  font-family: inherit;
  font-size: 1em;
  color: #28353e;
  line-height: 1.45em;
  margin: 1em 0em;
}

/* links */

a {
  font-family: inherit;
  color: #19aacf;
  text-decoration: none;
  cursor: pointer;
}

a:link {
  color: #19aacf;
}

a:visited {
  color: #19aacf;
}

a:hover {
  color: #19aacf;
  text-decoration: underline;
}

a:active {
    color: #19aacf;
}

/* header anchors */

a.anchor .anchor-link:before {
  content: "§";
  font-size: 18px;
  font-family: "icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1.2;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 > a.anchor, h2 > a.anchor, h3 > a.anchor, h4 > a.anchor, h5 > a.anchor, h6 > a.anchor {
  visibility: hidden;
  position: absolute;
  display: block;
  width: 30px;
  margin-left: -30px;
  padding-right: 3px;
  text-align: right;
  text-decoration: none;
}

h1:hover > a.anchor, h2:hover > a.anchor, h3:hover > a.anchor, h4:hover > a.anchor, h5:hover > a.anchor, h6:hover > a.anchor {
  visibility: visible;
  color: inherit;
  text-decoration: none;
}

/* code */

pre {
  padding: 0.5rem 1rem !important;
  border: 1px solid #DDDDDD !important;
  -webkit-border-radius: 5px !important;
  border-radius: 5px !important;
  background: #F7F7F7 !important;
  margin: 0 0 1rem 0 !important;
  white-space: pre;
  overflow: auto;
}

code {
  line-height: 1.45em !important;
  font-family: "Source Code Pro", Consolas, "Liberation Mono", Courier, monospace !important;
  font-size: 0.85em !important;
  font-weight: normal !important;
  padding: 0 !important;
}

pre > code {
  background: none;
  border: none;
}

p code {
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: #FAFAFA;
  color: #28353e;
  padding: 0 0.2em !important;
}

/* blockquotes */

blockquote {
  background: #F7F7F7;
  border-left: 10px solid #F16665;
  margin: 1.5em 0;
  padding: 1em 20px;
}

blockquote p {
  display: inline;
  color: #28353e;
  font-style: italic;
}

/* tables */

table {
  color: #103a51;
}

table thead tr th {
  background: #103a51;
  color: #ffffff;
}

table tr td {
  color: #103a51;
}

/* logo links */

.logo .svg-icon-logo {
  height: 40px;
  width: 100px;
}

.logo:hover {
  text-decoration: none;
}

.svg-icon-logo .svg-icon-logo-text {
  fill: #ffffff;
  transition: all 300ms ease-in-out;
}

.logo:hover .svg-icon-logo .svg-icon-logo-text {
  fill: #53cdec;
  transition: all 300ms ease-in-out;
}

/* site header */

.site-header {
  background: #103a51;
  margin: 0;
  padding: 0;
  height: 75px;
  display: block;
  width: 100%;
}

.site-header .title {
  display: inline-block;
  float: left;
  height: 70px;
  line-height: 70px;
  font-weight: 400;
  font-size: 1.4em;
  transition: all 300ms ease-in-out;
}

.site-header .title a:link, .site-header .title a:visited {
  color: #fff;
}

.site-header .title a:hover {
  color: #53cdec;
  text-decoration: none;
  transition: all 300ms ease-in-out;
}

.site-header .logo {
  float: right;
  margin-top: 15px;
}

.site-header .right-off-canvas-toggle {
  float: right;
}

.site-header .right-off-canvas-toggle .svg-icon-menu {
  height: 40px;
  width: 40px;
  margin-top: 15px;
}

.site-header .right-off-canvas-toggle .svg-icon-menu .svg-icon-menu-path {
  fill: #ffffff;
  transition: all 300ms ease-in-out;
}

.site-header .right-off-canvas-toggle .svg-icon-menu:hover .svg-icon-menu-path {
  fill: #53cdec;
  transition: all 300ms ease-in-out;
}

/* content */

.page-content {
  background: #ffffff;
  min-height: 600px;
  padding: 60px 0px;
}

/* off-canvas menu */

.right-off-canvas-menu {
  background: #ffffff;
  background: linear-gradient(left, 0% #f0f3f6, 5% #ffffff);
  padding: 0;
}

.right-off-canvas-menu .off-canvas-nav {
  border-bottom: 1px solid #f0f3f6;
}

/* sidebar */

.sidebar {
  background: #ffffff;
  background: linear-gradient(left, 0% #f0f3f6, 5% #ffffff);
  padding: 0;
  box-shadow: shadow;
  border-radius: 3px;
  border: 1px solid #c2d2dc;
}

/* navigation */

.nav-toolbar {
  padding: 1em 20px 0.5em;
}

.nav-toolbar h3 {
  display: inline-block;
  font-weight: 400;
}

.nav-toolbar .version-number {
  float: right;
}

.nav-home {
  margin: 0;
  padding: 0;
  border-top: 1px solid #f0f3f6;
  line-height: 3em;
}

.nav-home a {
  display: block;
  font-size: 1.125em;
  padding-left: 20px;
  transition: all 300ms ease-in-out;
}

.nav-home a.active {
  background: #f0f3f6;
  color: #28353e;
  border-left: 10px solid #53cdec;
  padding-left: 10px;
  transition: all 300ms ease-in-out;
}

.nav-home a:hover {
  background: #f0f3f6;
  text-decoration: none;
  transition: all 300ms ease-in-out;
}

.nav-home a .home-icon {
  font-size: 18px;
  font-family: "icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1.2;
  vertical-align: middle;
  padding-right: 5px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.nav-toc ul {
  margin: 0;
  padding: 0;
  line-height: 2em;
}

.nav-toc ul > li {
  list-style-type: none;
  border-top: 1px solid #f0f3f6;
  padding-left: 0;
}

.nav-toc ul > li a {
  display: block;
  font-size: 1em;
  padding-left: 20px;
  transition: all 300ms ease-in-out;
}

.nav-toc ul > li a.active {
  background: #f0f3f6;
  color: #28353e;
  border-left: 10px solid #53cdec;
  padding-left: 10px;
  transition: all 300ms ease-in-out;
}

.nav-toc ul > li a:hover {
  background: #f0f3f6;
  text-decoration: none;
  transition: all 300ms ease-in-out;
}

.nav-toc ul > li > ul li a {
  font-size: 0.9em;
  padding-left: 40px;
}

.nav-toc ul > li > ul li a.active {
  padding-left: 30px;
}

/* navigation next */

.nav-next {
  background: #F7F7F7;
  border-left: 10px solid #53cdec;
  margin-top: 60px;
  padding: 1em 20px;
}

.nav-next p {
  display: inline;
  color: #28353e;
  font-style: italic;
}

/* table of contents -- ordered */

.toc ol li {
  color: #778a99;
}

.toc > ol > li > ol {
  list-style-type: lower-alpha;
}

.toc > ol > li > ol > li > ol {
  list-style-type: lower-roman;
}

.toc.main > ol > li {
  margin-top: 0.5em;
  font-size: 1.2em;
}

.toc.main > ol > li {
  counter-increment: root;
}

.toc.main > ol > li > ol {
  counter-reset: subsection;
  list-style-type: none;
  margin-left: 2rem;
}

.toc.main > ol > li > ol > li {
  counter-increment: subsection;
}

.toc.main > ol > li > ol > li:before {
  content: counter(root) "." counter(subsection) ". ";
  margin-left: -2rem;
  padding-right: 0.25rem;
}

.toc.main > ol > li > ol > li > ol {
  list-style-type: lower-alpha;
}

.toc.main > ol > li > ol > li > ol > li > ol {
  list-style-type: lower-roman;
}

/* table of contents -- unordered */

.toc ul li {
  color: #778a99;
}

.toc.main > ul > li {
  margin-top: 0.5em;
  font-size: 1.2em;
}

/* site footer */

.site-footer {
  background: #103a51;
  color: #ffffff;
  padding: 60px 0px;
}

.site-footer h3, .site-footer a {
  color: #ffffff;
}

.site-footer .copyright {
  margin-top: 20px;
}

.site-footer .copyright .text {
  display: inline-block;
  line-height: 40px;
  vertical-align: top;
}

.site-footer .support .icon {
  display: inline-block;
  margin-right: 10px;
}

.site-footer .support .icon .svg-icon-support {
  width: 50px;
  height: 50px;
}

.site-footer .support .details {
  display: inline-block;
  min-height: 50px;
  vertical-align: top;
  text-align: left;
}

.site-footer .support .details h3 {
  font-size: 1.1em;
  text-transform: uppercase;
  margin: 6px 0 0 0;
}

.site-footer .support .details a:hover {
  color: #53cdec;
  text-decoration: none;
}
